*{margin: 0;padding: 0;}
li{list-style: none;}
hr{width: 100%;color: #B5B5B5;}
.tour{
    font-size: 16px;
    height: 100%;
    display: flex;
	flex-direction: column;
}
.tour_header{
	width: 100%;
	height: 6.12rem;
	display: flex;
	/* align-items: center; */
    flex-direction: column;
    background:papayawhip
}
.tour_header .header-one{
    height: 1.17333rem;
    line-height: 1.17333rem;
    position: relative;
    width:100%
}
.tour_header .header-one i:nth-child(1){
    position: absolute;
    top: 20px;
    width: 1.06667rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.48rem;
    color: #fefefe;
}
.tour_header .header-one i:nth-child(3){
    position: absolute;
    top: 20;
    width: 1.06667rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.48rem;
    color: #fefefe;
}
.tour_header .header-two{
    padding: 0.4rem 0.4rem 0;
    /* background-color:red; */
    /* height:4rem; */
}
.tour_header .header-two-center-top{
    height: 4rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content:space-between;
}
.tour_header .header-two-center-top-img img{
    width: 2.93333rem;
    height: 4rem;
    border-radius: 0.10667rem;
    overflow: hidden;
}
.tour_header .header-two-center-top-text{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 0.4rem;
    padding-top: 0.13333rem;
    position: relative;
}
.tour_header .header-two-center-top-text h3{
    color: #fefefe;
    font-size: 0.42667rem;
    line-height: 0.66667rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: normal;
}
.tour_header .header-two-center-top-text p:nth-child(2){
    font-size: 0.37333rem;
    color: rgba(254,254,254,0.7);
    margin-top: 0.4rem;
    text-align: left;
}
.tour_header .header-two-center-top-text p:nth-child(3){
    position: absolute;
    left: 0.4rem;
    bottom: 0.13333rem;
    font-size: 0.42667rem;
    color: #fefefe;
    line-height: 0.64rem;
    font-weight: normal;
}
.tour_section{
    padding: 0.4rem;
}
.tour_section .section-body{
    margin-bottom: 0.32rem;
    display: flex;
    height: 2.82667rem;
    background-color:pink;
}
.tour_section .section-body-time{
    width: 2.93333rem;
    border-radius: 0.10667rem 0px 0px 0.10667rem;
    margin-right: 0.13333rem;
    color: #232323;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #FEFEFE;
}
.tour_section .section-body-text{
    width: 6.13333rem;
    border-radius: 0px 0.10667rem 0.10667rem 0px;
    padding: 0.4rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FEFEFE;
}
.tour_section .section-body-text a{
    color: #232323;
    text-align: left;
}
.tour_section .section-body-text a h3{
    font-size: 0.42667rem;
    color: #232323;
    line-height: 0.58667rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}
.tour_section .section-body-text a p{
    font-size: 0.37333rem;
    color: #666;
    margin-top: 0.18667rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tour_section .section-body-text-price{
    color: #999;
    font-size: 0.29333rem;
    margin-top: 0.21333rem;
}
.tour_section .section-body-text-price span:first-child{
    color: #FF6743;
    font-size: 0.42667rem;
    margin-right: 0.13333rem;
    font-weight: 500;
}