*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
input{outline: none;}/*去掉点击时蓝框*/
img{
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
b,strong{font-weight: normal;}
i,em{font-style: normal;}

.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.clearfix{zoom: 1;}

.fl{
	float: left;
}
.fr{float: right;}
.border0{border: none;}
