*{margin: 0;padding: 0;}
li{list-style: none;}
hr{width: 100%;color: #B5B5B5;}

.theater{
    font-size: 16px;
    height: 100%;
    display: flex;
	flex-direction: column;
}
.theater_header{
	width: 100%;
    line-height: 1.17333rem;
    text-align: center;
	display: flex;
	align-items: center;
    justify-content: center;
    background:pink;
}
/* .main{
    background:orangered;
} */
/* .main ul{
    padding:1rem;
} */
/* .main ul li{
    width: 21.6rem;
    height:18.5rem;
    background-color: blue;
} */
.mainT{
    background-color: #fefefe;
    box-shadow: 0px 0.05333rem 0.4rem 0.02667rem rgba(35,35,35,0.08);
    border-radius: 0.10667rem;
    border: solid 1px #ebebeb;
    margin-bottom:  0.4rem;
    padding:0.54667rem 0.44rem 0.56rem;
}
.maintop{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    /* width: 21.6rem;
    height: 3rem; */
}

.maintop a{
    display: flex;
    justify-content: space-between;
}
.maintop-a-img{
    width: 1.33333rem;
    height: 1.33333rem;
    margin-right: 0.26667rem;
    overflow: hidden;;
}

.maincenter{
    margin-top: 0.34667rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: flex;
    flex-wrap:nowrap;
    overflow: scroll;
    flex:1;
    /* overflow: hidden; */

}
.maincenter-one{
    width: 3.04rem;
    flex-shrink: 0;
}
.maincenter-one-time{
    position: relative;
    width: 3.04rem;
    border-bottom: 0.05333rem solid #ebebeb;
    border-radius: 0.02667rem;
    padding-bottom: 0.38667rem;
    margin-bottom: 0.46667rem;
}
.maincenter-one-time p{
    color: #b3b3b3;
    font-size: 0.37333rem;
    padding-right: 0.18667rem;
    text-align: center;
    height: 0.33333rem;
}
.maincenter-one-time span{
    position: absolute;
    left: 50%;
    bottom: -0.12rem;
    display: inline-block;
    width: 0.18667rem;
    height: 0.18667rem;
    margin-left: -0.18667rem;
    border-radius: 50%;
    background-color: #cccccc;
}
.maincenter-one a img{
    display: block;
    width: 3.04rem;
    height: 3.89333rem;
    line-height: 3.89333rem;
    overflow: hidden;
}