<<<<<<< HEAD
html,body{
  width: 100%;
}
=======
<<<<<<< HEAD

=======
<<<<<<< HEAD
>>>>>>> 2fee519b85cda61d5cd57e9088364e3e901942f6
html,body{
  width: 100%;
}

<<<<<<< HEAD
=======
.App{
=======
>>>>>>> 2fee519b85cda61d5cd57e9088364e3e901942f6
>>>>>>> fc3a7c8c901f22e0cd1e774ea428bfdcdbcb4f68
*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
.App {
  text-align: center;
}


