<<<<<<< HEAD
html,body{
  width: 100%;
}

.App{
=======
*{
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD
=======
li{
  list-style: none;
}
.App {
  text-align: center;
>>>>>>> 81311af07913d68d423e97f55b621db14da2e8f4
}

>>>>>>> 58a6883ee3b77cd09dcec047784ae0cc62ba8d66


